@model IEnumerable<Brand>

@{
	ViewData["Title"] = "Listado de Brands";
}

<div class="row w-75 mb-4">
	<div class="col-6">
		<h3>Lista de Shoes</h3>
	</div>
</div>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Brand</th>			
			<th>
				<div class="col-6">
					<a asp-controller="Brand" asp-action="Create" class="btn btn-primary">
						<i class="bi bi-plus-circle-dotted"></i>
						Nuevo
					</a>
				</div>
			</th>
		</tr>

	</thead>
	<tbody>
		@if (Model.Any())
		{
			foreach (var item in Model)
			{

				<tr>
					<td>@item.BrandName</td>
					

					<td>
						<a onclick="Delete('/TiposDePlantas/Delete/@item.BrandId',@item.BrandId)" class="btn btn-danger">
							<i class="bi bi-trash-fill"></i>
							Borrar
						</a>
						<a asp-controller="Shoe" asp-action="UpSert" asp-route-id="@item.BrandId" class="btn btn-warning">
							<i class="bi bi-pencil-square"></i>
							Editar
						</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td>Error con el model</td>
			</tr>
		}
	</tbody>
