﻿<div class="px-4 py-5 my-1 text-center">
    <img class="d-block mx-auto mb-4" src="/images/zapateria.jpg" alt="" style="width:300px;height:200px; object-fit:contain">
    <h1 class="display-5 fw-bold">Bienvenido/a</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Somos una zapateria que desea compartir al mundo su pasión por los juanetes. Sumate!!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg px-4 gap-3">Ingresar</a>
        </div>
    </div>
</div>